* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(207, 206, 206);
}
html {
  font-size: 16px;
}

.nav {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
}
.title_logo {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 80px;
}
.main__title {
  margin: 0;
  margin-left: 50px;
  font-size: 40px;
  color: black;
}
.nav__link {
  color: black;
}
.nav__link:hover {
  font-weight: bold;
}
.nav__link {
  margin-left: 5px;
}
.log {
  background-color: rgb(0, 184, 138);
}

#modal-login {
  background-color: rgb(160, 236, 217);
}
.sign {
  background-color: rgb(2, 141, 206);
}

#modal-signup {
  background-color: rgb(196, 236, 255);
}
.log__out {
  background-color: rgb(48, 48, 48);
  color: #ffffff;
}
.none {
  display: none;
}
.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal__title {
  text-align: center;
  font-size: 50px;
}
#signup-form,
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal__btn {
  padding: 20px;
  color: #ffffff;
  background-color: rgb(102, 102, 102);
}
.modal__btn:hover {
  background-color: rgb(85, 85, 85);
  font-weight: bold;
}
.modal__btn:active {
  background-color: black;
}
.modals__error {
  color: red;
  text-align: center;
}

.login__h4 {
  background-color: rgb(207, 206, 206);
  margin: 0;
  text-align: center;
  font-size: 30px;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn__filter {
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn__filter + .btn__filter {
  margin-left: 10px;
}
.btn__filter:active {
  color: red;
}
.btn__filter:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
}

.footer__copiright {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.footer__title {
  font-size: 12px;
}
